.calculatorH1 {
    font-size: 36px;
    font-family: 'Raleway';
    font-weight: normal;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.calculatorContainer {
    width: 1200px;
    height: 450px;
    background-color: #F7F7F7;
    border-radius: 10px;
    margin: 20px auto 0;
}

input[type="number"] {
    padding-left: 10px;
}

input[type="number"]::placeholder {
    font-family: 'Open Sans';
    color: #ccc;
    font-size: 13px;
}

#packages {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../../assets/Arrow_Down.svg);
    background-repeat: no-repeat;
    background-position-x: 400px;
    background-position-y: center;
    padding-left: 10px;
    font-family: 'Open Sans';
    color: #ccc;
}

.calculatorFormSection {
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
}

.quantityContainer {
    display: flex;
}

.nonActiveQuantity {
    display: none;
}

.activeQuantity {
    display: block;
    position: absolute;
    top: 120px;
    right: 370px;
    width: 380px;
    height: 32px;
    background-color: #55DFB4;
    margin-left: 300px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    color: #fff;
    line-height: 30px;
    padding-left: 20px;
    font-family: 'Open Sans';
    font-size: 14px;
}

.monthsOrderContainer {
    display: flex;
}

.nonActiveMonthsOrder {
    display: none;
}

.activeMonthsOrder {
    display: block;
    position: absolute;
    top: 160px;
    right: 370px;
    width: 380px;
    height: 32px;
    background-color: #55DFB4;
    margin-left: 300px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    color: #fff;
    line-height: 32px;
    padding-left: 20px;
    font-family: 'Open Sans';
    font-size: 14px;
}

#quantity {
    position: absolute;
    top: 120px;
    left: 400px;
    outline: none;
    border: 1px solid #08A6E4;
    width: 440px;
    height: 40px;
    box-shadow: 0px 3px 6px #08A6E429;
    border-radius: 6px;
}

#monthsOrder {
    position: absolute;
    top: 160px;
    left: 400px;
    outline: none;
    border: 1px solid #08A6E4;
    width: 440px;
    height: 40px;
    box-shadow: 0px 3px 6px #08A6E429;
    border-radius: 6px;
    margin-top: 20px;
}

#packages {
    position: absolute;
    top: 220px;
    left: 400px;
    outline: none;
    border: 1px solid #08A6E4;
    width: 445px;
    height: 44px;
    box-shadow: 0px 3px 6px #08A6E429;
    border-radius: 6px;
    margin-top: 20px;
}

.packagesContainer {
    display: flex;
}

.nonActivePackages {
    display: none;
}

.activePackages {
    display: block;
    position: absolute;
    top: 201px;
    right: 370px;
    width: 380px;
    height: 32px;
    background-color: #55DFB4;
    margin-left: 304px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    color: #fff;
    line-height: 32px;
    padding-left: 20px;
    font-size: 14px;
    font-family: 'Open Sans';
}

.accountingContainer {
    position: absolute;
    top: 300px;
    left: 400px;
    display: flex;
    font-family: 'Open Sans';
    color: #707070;
    font-size: 12px;
}

.nonActiveAccounting {
    display: none;
}

.activeAccounting {
    display: block;
    position: absolute;
    top: 243px;
    right: 370px;
    width: 380px;
    height: 32px;
    background-color: #55DFB4;
    margin-left: 50px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    color: #fff;
    line-height: 32px;
    padding-left: 20px;
    font-size: 14px;
    font-family: 'Open Sans';
}

.rentalContainer {
    position: absolute;
    top: 340px;
    left: 400px;
    display: flex;
    font-family: 'Open Sans';
    color: #707070;
    font-size: 12px;
}

.nonActiveRental {
    display: none;
}

.activeRental {
    display: block;
    position: absolute;
    top: 286px;
    right: 370px;
    width: 380px;
    height: 32px;
    background-color: #55DFB4;
    margin-left: 50px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    color: #fff;
    line-height: 32px;
    padding-left: 20px;
    font-size: 14px;
    font-family: 'Open Sans';
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
}

.sum {
    position: absolute;
    top: 345px;
    right: 370px;
    width: 180px;
    height: 40px;
    background-color: #08A6E4;
    border-radius: 6px;
    font-size: 14px;
    color: #ffffff;
    text-align: left;
    box-shadow: 0px 3px 6px #00000029;
    line-height: 40px;
    padding-left: 15px;
    font-family: 'Open Sans';
}

.total {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
    padding-left: 40px;
}

.accountingContainer {
    display: flex;
    align-items: center;
}

.accounting {
    -webkit-appearance: none;
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid #95989A;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-size: 12px;
    margin-right: 10px;
}

.accounting:hover {
    background-color: #ddd;
}

.accounting:focus {
    outline: none;
}

.accounting:checked {
    background-color: #fff;
}

.accounting:checked:after {
    content: url(../../assets/Checkmark.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 12px;
    height: 11px;
}

.rentalContainer {
    display: flex;
    align-items: center;
}

.rental {
    -webkit-appearance: none;
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid #95989A;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-size: 12px;
    margin-right: 10px;
}

.rental:hover {
    background-color: #ddd;
}

.rental:focus {
    outline: none;
}

.rental:checked {
    background-color: #fff;
}

.rental:checked:after {
    content: url(../../assets/Checkmark.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 12px;
    height: 11px;
}

.productsNumbers {
    margin-left: 90px;
}

.productsSum {
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 5px;
}

.orderNumbers {
    margin-left: 100px;
}

.orderSum {
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 5px;
}

.chosenPackage {
    margin-left: 95px;
}

.packageValue {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 18px;
    font-weight: 600;
}

.accountingValue {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 18px;
    font-weight: 600;
}

.rentalValue {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 1640px) and (min-width: 1500px) {
    .activeQuantity {
        right: 290px;
    }

    #quantity {
        width: 420px;
        left: 360px;
    }

    .activeMonthsOrder {
        right: 290px;
    }

    #monthsOrder {
        width: 420px;
        left: 360px;
    }

    .activePackages {
        right: 290px;
    }

    #packages {
        width: 420px;
        left: 360px;
        background-position-x: 386px;
    }

    .accountingContainer {
        left: 360px;
    }

    .rentalContainer {
        left: 360px;
    }

    .activeAccounting {
        right: 290px;
    }

    .activeRental {
        right: 290px;
    }

    .sum {
        right: 290px;
    }
}

@media (max-width: 1499px) and (min-width: 1352px) {
    .activeQuantity {
        right: 210px;
    }

    #quantity {
        width: 380px;
        left: 330px;
    }

    .activeMonthsOrder {
        right: 210px;
    }

    #monthsOrder {
        width: 380px;
        left: 330px;
    }

    .activePackages {
        right: 210px;
    }

    #packages {
        width: 380px;
        left: 330px;
        background-position-x: 342px;
    }

    .accountingContainer {
        left: 330px;
    }

    .rentalContainer {
        left: 330px;
    }

    .activeAccounting {
        right: 210px;
    }

    .activeRental {
        right: 210px;
    }

    .sum {
        right: 210px;
    }
}

@media (max-width: 1351px) and (min-width: 1150px) {
    .calculatorContainer {
        width: 1050px;
    }

    .activeQuantity {
        right: 180px;
    }

    #quantity {
        width: 340px;
        left: 200px;
    }

    .activeMonthsOrder {
        right: 180px;
    }

    #monthsOrder {
        width: 340px;
        left: 200px;
    }

    .activePackages {
        right: 180px;
    }

    .accountingContainer {
        left: 200px;
    }

    .rentalContainer {
        left: 200px;
    }

    #packages {
        width: 340px;
        left: 200px;
        background-position-x: 302px;
    }

    .activeAccounting {
        right: 180px;
    }

    .activeRental {
        right: 180px;
    }

    .sum {
        right: 180px;
    }
}

@media (max-width: 1149px) and (min-width: 1000px) {
    .calculatorContainer {
        width: 980px;
    }

    .activeQuantity {
        right: 100px;
    }

    #quantity {
        width: 270px;
        left: 200px;
    }

    .activeMonthsOrder {
        right: 100px;
    }

    #monthsOrder {
        width: 270px;
        left: 200px;
    }

    .activePackages {
        right: 100px;
    }

    .accountingContainer {
        left: 200px;
    }

    .rentalContainer {
        left: 200px;
    }

    #packages {
        width: 270px;
        left: 200px;
        background-position-x: 232px;
    }

    .activeAccounting {
        right: 100px;
    }

    .activeRental {
        right: 100px;
    }

    .sum {
        right: 100px;
    }
}

@media (max-width: 999px) and (min-width: 850px) {
    .calculatorContainer {
        width: 90%;
        height: 90vh;
    }

    .calculatorH1 {
        font-size: 30px;
    }

    .activeQuantity {
        right: 100px;
        width: 325px;
    }

    #quantity {
        width: 230px;
        left: 150px;
        height: 35px;
    }

    .activeMonthsOrder {
        right: 100px;
        width: 325px;
    }

    #monthsOrder {
        width: 230px;
        left: 150px;
        height: 35px;
    }

    .activePackages {
        right: 100px;
        width: 325px;
    }

    .accountingContainer {
        left: 150px;
        width: 325px;
    }

    .rentalContainer {
        left: 150px;
    }

    #packages {
        width: 230px;
        left: 150px;
        height: 35px;
        background-position-x: 192px;
    }

    .activeAccounting {
        right: 100px;
        width: 325px;
    }

    .activeRental {
        right: 100px;
        width: 325px;
    }

    .sum {
        right: 100px;
    }
}

@media (max-width: 849px) and (min-width: 700px) {
    .calculatorContainer {
        width: 90%;
        height: 90vh;
    }

    .calculatorH1 {
        font-size: 26px;
    }

    .activeQuantity {
        right: 100px;
        width: 255px;
    }

    #quantity {
        width: 200px;
        left: 100px;
        height: 30px;
    }

    .productsNumbers {
        margin-left: 35px;
    }

    .activeMonthsOrder {
        right: 100px;
        width: 255px;
    }

    #monthsOrder {
        width: 200px;
        left: 100px;
        height: 30px;
    }

    .orderNumbers {
        margin-left: 45px;
    }

    .activePackages {
        right: 100px;
        width: 255px;
    }

    .chosenPackage {
        margin-left: 45px;
    }

    .accountingContainer {
        left: 100px;
        width: 325px;
    }

    .rentalContainer {
        left: 100px;
    }

    #packages {
        width: 200px;
        left: 100px;
        height: 30px;
        background-position-x: 170px;
    }

    .activeAccounting {
        right: 100px;
        width: 255px;
    }

    .activeRental {
        right: 100px;
        width: 255px;
    }

    .sum {
        right: 100px;
        height: 30px;
        line-height: 30px;
        width: 165px;
        padding-left: 10px;
    }

    .total {
        padding-left: 32px;
    }
}

@media (max-width: 699px) and (min-width: 550px) {
    .calculatorContainer {
        width: 90%;
        height: 90vh;
    }

    .calculatorH1 {
        font-size: 26px;
    }

    input[type="number"] {
        padding-left: 5px;
    }

    input[type="number"]::placeholder {
        font-size: 10px;
    }

    select {
        padding-left: 5px;
        font-size: 10px;
    }

    .activeQuantity {
        right: 90px;
        width: 200px;
        height: 28px;
        line-height: 28px;
        padding-left: 10px;
    }

    #quantity {
        width: 135px;
        left: 90px;
        height: 30px;
    }

    .productsNumbers {
        margin-left: 15px;
        font-size: 12px;
    }

    .productsSum {
        font-size: 14px;
    }

    .activeMonthsOrder {
        right: 90px;
        width: 200px;
        height: 28px;
        line-height: 28px;
        padding-left: 10px;
    }

    .accountingValue {
        font-size: 14px;
    }

    .rentalValue {
        font-size: 14px;
    }

    #monthsOrder {
        width: 135px;
        left: 90px;
        height: 30px;
    }

    .orderNumbers {
        margin-left: 25px;
        font-size: 12px;
    }

    .orderSum {
        font-size: 14px;
    }

    .activePackages {
        right: 90px;
        width: 200px;
        height: 28px;
        line-height: 28px;
        padding-left: 10px;
    }

    .chosenPackage {
        margin-left: 15px;
        font-size: 12px;
    }

    .packageValue {
        font-size: 14px;
    }

    .accountingContainer {
        left: 90px;
        width: 325px;
        font-size: 10px;
    }

    .accounting {
        width: 18px;
        height: 18px;
    }

    .accounting:checked:after {
        height: 13px;
    }

    .rentalContainer {
        left: 90px;
        font-size: 10px;
    }

    .rental {
        width: 18px;
        height: 18px;
    }

    .rental:checked:after {
        height: 13px;
    }

    #packages {
        width: 135px;
        left: 90px;
        height: 30px;
        background-position-x: 108px;
    }

    .activeAccounting {
        right: 90px;
        width: 200px;
        height: 28px;
        line-height: 28px;
        padding-left: 10px;
    }

    .activeRental {
        right: 90px;
        width: 200px;
        height: 28px;
        line-height: 28px;
        padding-left: 10px;
    }

    .sum {
        right: 90px;
        height: 30px;
        line-height: 30px;
        width: 155px;
        padding-left: 10px;
    }

    .total {
        padding-left: 38px;
        font-size: 16px;
    }
}

@media (max-width: 549px) and (min-width: 360px) {
    .calculatorContainer {
        width: 90%;
        margin: 15px auto;
        height: 520px;
    }

    .calculatorH1 {
        font-size: 20px;
    }

    input[type="number"] {
        padding-left: 10px;
    }

    input[type="number"]::placeholder {
        font-size: 12px;
    }

    select {
        padding-left: 10px;
        font-size: 12px;
    }

    .activeQuantity {
        width: 200px;
        height: 28px;
        line-height: 28px;
        padding-left: 10px;
        left: 24%;
        margin-left: 0;
        top: 300px;
    }

    #quantity {
        width: 200px;
        left: 24%;
        height: 25px;
        top: 85px;
    }

    .productsNumbers {
        margin-left: 25px;
        font-size: 12px;
    }

    .productsTitle {
        font-size: 12px;
    }

    .productsSum {
        font-size: 14px;
    }

    .activeMonthsOrder {
        width: 200px;
        height: 28px;
        line-height: 28px;
        padding-left: 10px;
        margin-left: 0;
        left: 24%;
        top: 335px;
    }

    #monthsOrder {
        width: 200px;
        left: 24%;
        height: 25px;
        top: 105px;
    }

    .orderNumbers {
        margin-left: 25px;
        font-size: 12px;
    }

    .orderTitle {
        font-size: 12px;
    }

    .orderSum {
        font-size: 14px;
    }

    .activePackages {
        width: 200px;
        height: 28px;
        line-height: 28px;
        padding-left: 10px;
        left: 24%;
        top: 370px;
        margin-left: 0;
    }

    .chosenPackage {
        margin-left: 20px;
        font-size: 12px;
    }

    .packageTitle {
        font-size: 12px;
    }

    .packageValue {
        font-size: 14px;
    }

    .accountingContainer {
        left: 24%;
        font-size: 12px;
        top: 205px;
    }

    .accounting {
        width: 24px;
        height: 24px;
    }

    .accountingTitle {
        font-size: 12px;
    }

    .accountingValue {
        font-size: 14px;
    }

    .rentalContainer {
        left: 24%;
        font-size: 12px;
        top: 245px;
    }

    .rental {
        width: 24px;
        height: 24px;
    }

    .rentalTitle {
        font-size: 12px;
    }

    .rentalValue {
        font-size: 14px;
    }

    #packages {
        width: 200px;
        left: 24%;
        height: 25px;
        top: 145px;
    }

    .activeAccounting {
        width: 200px;
        padding-left: 10px;
        left: 24%;
        top: 405px;
        margin-left: 0;
        height: 28px;
        line-height: 28px;
    }

    .activeRental {
        width: 200px;
        height: 28px;
        line-height: 28px;
        padding-left: 10px;
        left: 24%;
        top: 440px;
        margin-left: 0;
    }

    .sum {
        height: 30px;
        line-height: 30px;
        width: 155px;
        padding-left: 10px;
        top: 490px;
        left: 24%;
    }

    .total {
        padding-left: 36px;
        font-size: 16px;
    }
}

@media (max-width: 359px) {
    .calculatorContainer {
        width: 90%;
        height: 515px;
        margin: 10px auto;
    }

    .calculatorH1 {
        font-size: 18px;
    }

    input[type="number"] {
        padding-left: 10px;
    }

    input[type="number"]::placeholder {
        font-size: 12px;
    }

    select {
        padding-left: 10px;
        font-size: 12px;
    }

    .activeQuantity {
        width: 200px;
        height: 28px;
        line-height: 28px;
        padding-left: 10px;
        left: 15%;
        margin-left: 0;
        top: 300px;
    }

    #quantity {
        width: 200px;
        left: 15%;
        height: 25px;
        top: 85px;
    }

    .productsNumbers {
        margin-left: 25px;
        font-size: 12px;
    }

    .productsTitle {
        font-size: 12px;
    }

    .productsSum {
        font-size: 14px;
    }

    .activeMonthsOrder {
        width: 200px;
        height: 28px;
        line-height: 28px;
        padding-left: 10px;
        margin-left: 0;
        left: 15%;
        top: 335px;
    }

    #monthsOrder {
        width: 200px;
        left: 15%;
        height: 25px;
        top: 105px;
    }

    .orderNumbers {
        margin-left: 25px;
        font-size: 12px;
    }

    .orderTitle {
        font-size: 12px;
    }

    .orderSum {
        font-size: 14px;
    }

    .activePackages {
        width: 200px;
        height: 28px;
        line-height: 28px;
        padding-left: 10px;
        left: 15%;
        top: 370px;
        margin-left: 0;
    }

    .chosenPackage {
        margin-left: 20px;
        font-size: 12px;
    }

    .packageTitle {
        font-size: 12px;
    }

    .packageValue {
        font-size: 14px;
    }

    .accountingContainer {
        left: 15%;
        font-size: 12px;
        top: 205px;
    }

    .accounting {
        width: 24px;
        height: 24px;
    }

    .accountingTitle {
        font-size: 12px;
    }

    .accountingValue {
        font-size: 14px;
    }

    .rentalContainer {
        left: 15%;
        font-size: 12px;
        top: 245px;
    }

    .rental {
        width: 24px;
        height: 24px;
    }

    .rentalTitle {
        font-size: 12px;
    }

    .rentalValue {
        font-size: 14px;
    }

    #packages {
        width: 200px;
        left: 15%;
        height: 25px;
        top: 145px;
    }

    .activeAccounting {
        width: 200px;
        padding-left: 10px;
        left: 15%;
        top: 405px;
        margin-left: 0;
        height: 28px;
        line-height: 28px;
    }

    .activeRental {
        width: 200px;
        height: 28px;
        line-height: 28px;
        padding-left: 10px;
        left: 15%;
        top: 440px;
        margin-left: 0;
    }

    .sum {
        height: 30px;
        line-height: 30px;
        width: 155px;
        padding-left: 10px;
        top: 475px;
        left: 15%;
    }

    .total {
        padding-left: 36px;
        font-size: 16px;
    }
}