/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

/* reset --------------------------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

/* header -------------------------------------------------------------------------------------------- */

.header {
    box-shadow: 0px 3px 6px #00000029;
    width: 100%;
}

.header-size {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.header-logo {
    font-size: 32px;
    font-weight: 300;
    color: #08A6E4;
    font-family: 'Raleway', sans-serif;
}

.header-nav {
    display: flex;
}

.header-nav-ul {
    display: flex;
    list-style: none;
}

.header-nav-ul a {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3.28px;
    color: #A5A5A5;
    margin-left: 70px;
    padding-bottom: 22px;
}

.header-nav-ul a:hover {
    border-bottom: 4px solid #08A6E4;
    color: #000000;
}

.header-hamburger {
    display: none;
}

.header-hamburger-close {
    display: none;
}

/* banner ----------------------------------------------------------------------------------------- */

.banner-background {
    background-image: url(../../assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 80vh;
}

.banner-title {
    font-size: 49px;
    margin-top: 80px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
}

.banner-text {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
    text-align: center;
}

.banner-calculator {
    font-family: 'Open Sans';
    font-weight: 700;
    text-decoration: none;
    background-color: #08A6E4;
    color: white;
    border-radius: 40px;
    padding: 25px 170px;
    box-shadow: 5px 10px 14px #07ACE629;
    transition: 0.4s;
}


.banner-calculator:hover {
    color: #08A6E4;
    background-color: #fff;
    cursor: pointer;
    border: .1px solid #08A6E4;
}
.banner-container {
    text-align: center;
    margin-top: 70px;
}

/* icons -------------------------------------------------------------------------------------------- */

.platform {
    margin-bottom: 100px;
}

.platform-title {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 30px 0 100px;
}

.platform-entries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.platform-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.platform-logo-first {
    position: relative;
    height: 63px;
    width: 63px;
    background-color: #FB3B64;
    border-radius: 50%;
}

.platform-person-first {
    position: absolute;
    background-image: url(../../assets/Person.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 44px;
    height: 52px;
    top: 5px;
    left: 35px;
}

.platform-logo-second {
    position: relative;
    height: 63px;
    width: 63px;
    background-color: #08A6E4;
    border-radius: 50%;
}

.platform-person-second {
    position: absolute;
    background-image: url(../../assets/Eye.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 44px;
    height: 52px;
    top: 20px;
    left: 35px;
}

.platform-logo-third {
    position: relative;
    height: 63px;
    width: 63px;
    background-color: #08A6E4;
    border-radius: 50%;
}

.platform-person-third {
    position: absolute;
    background-image: url(../../assets/Catalog.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 44px;
    height: 52px;
    top: 10px;
    left: 35px;
}

.platform-logo-third {
    height: 63px;
    width: 63px;
    background-color: #55DFB4;
    border-radius: 50%;
}

.platform-plus-number {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 4px;
    font-weight: 700;
    margin: 10px 0;
}

.platform-plus-number-text {
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: #A5A5A5;
    text-align: center;
}

/* main -------------------------------------------------------------------------------------------- */

.main {
    background-color: #eee;
    height: 1350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

/* laptop ------------------------------------------------------------------------------------------ */

.main-laptop {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1100px;
    height: 370px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    padding-left: 35px;
}

.main-laptop-container {
    width: 416px;
}

.main-laptop-img {
    position: absolute;
    right: 50px;
    bottom: 130px;
    width: 180px;
    height: 180px;
    background-color: #FB3B64;
    border-radius: 41px;
    transform: rotate(45deg);
}

.main-laptop-img-background {
    position: absolute;
    top: 110px;
    left: -130px;
    background-image: url(../../assets/Macbook.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 386px;
    height: 219px;
    transform: rotate(315deg);
}

.main-laptop-title {
    padding: 90px 0 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #000000;
}

.main-laptop-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.main-laptop-underline {
    width: 350px;
    height: 4px;
    margin-top: 50px;
    background-color: #FB3B64;
}

/* iphone -------------------------------------------------------------------------------------------- */

.main-iphone {
    width: 1100px;
    height: 370px;
    background-color: #fff;
    margin-bottom: 30px;
}

.main-iphone-container {
    display: flex;
    background-color: #fff;
}

.main-iphone-graphics {
    position: relative;
    width: 320px;
    height: 320px;
    background-color: #07ACE6;
    border-radius: 50%;
    margin-left: 70px;
    margin-top: 22px;
    order: 1;
}

.main-iphone-img {
    position: absolute;
    top: 5%;
    left: 10%;
    background-image: url(../../assets/iPhone.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 426px;
    height: 328px;
}

.main-iphone-container-container {
    width: 430px;
    height: 230px;
    margin-left: 250px;
    order: 2;
}

.main-iphone-title {
    padding: 68px 0 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #000000;
}

.main-iphone-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.main-iphone-underline {
    width: 350px;
    height: 4px;
    margin-top: 50px;
    background-color: #08A6E4;
}

/* text --------------------------------------------------------------------------------------------- */

.main-text-container {
    display: flex;
    justify-content: space-between;
}

.main-text {
    width: 1100px;
    height: 370px;
    background-color: #eee;
}

.main-text-container-container {
    width: 600px;
    height: 370px;
    background-color: #fff;
    padding-left: 35px;
}

.main-text-picture {
    position: relative;
    width: 440px;
    height: 370px;
    background-color: #55DFB4;
    border-radius: 5px;
}

.main-text-picture-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../../assets/Trumpet.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 295px;
    height: 207px;
}

.main-text-title {
    padding: 68px 0 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #000000;
}

.main-text-text {
    width: 416px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.main-text-underline {
    width: 350px;
    height: 4px;
    margin-top: 40px;
    background-color: #55DFB4;
}

/* section pricing --------------------------------------------------------------------------------- */

.pricing-boxes {
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
}

/* basic ------------------------------------------------------------------------------------------- */

.pricing-title {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 60px 0 50px;
    text-align: center;
}

.box-basic {
    position: relative;
    border: 1px solid #FB3B64;
    border-radius: 18px;
    width: 372px;
    height: 461px;
}

.box-basic-checkbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 220px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.box-basic-title {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin: 34px 0 15px;
    text-align: center;
}

.box-basic-money {
    display: block;
    font-size: 46px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #FB3B64;
    text-align: center;
    margin-bottom: 60px;
}

.inputCheckbox {
    -webkit-appearance: none;
    background-image: url(../../assets/Ckechmark-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.inputCheckbox.pricing-close {
    background-image: url(../../assets/Close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 10px;
    height: 10px;
}

.box-basic-btn {
    position: absolute;
    left: 108px;
    bottom: -24px;
    font-size: 13px;
    font-family: 'Opn Sans', sans-serif;
    font-weight: 700;
    border: none;
    background-color: #EB476E;
    color: #fff;
    padding: 16px 60px;
    border-radius: 23px;
    cursor: pointer;
}

.box-basic:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
    transition: 0.3s;
    box-shadow: 2px 4px 10px #EB476E;
}

/* professional ----------------------------------------------------------------------------------------- */

.box-professional {
    position: relative;
    border: 1px solid #07ACE6;
    border-radius: 18px;
    width: 372px;
    height: 461px;
}

.box-professional-checkbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 220px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.box-professional-title {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin: 34px 0 15px;
    text-align: center;
}

.box-professional-money {
    display: block;
    font-size: 46px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #07ACE6;
    text-align: center;
    margin-bottom: 10px;
}

.box-professional-offer {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.box-professional-btn {
    position: absolute;
    left: 108px;
    bottom: -24px;
    font-size: 13px;
    font-family: 'Opn Sans', sans-serif;
    font-weight: 700;
    border: none;
    background-color: #07ACE6;
    color: #fff;
    padding: 16px 60px;
    border-radius: 23px;
    cursor: pointer;
}

.box-professional:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
    transition: 0.3s;
    box-shadow: 2px 4px 10px #07ACE6;
}

/* premium ------------------------------------------------------------------------------------- */

.box-premium {
    position: relative;
    border: 1px solid #55DFB4;
    border-radius: 18px;
    width: 372px;
    height: 461px;
}

.box-premium-checkbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 220px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.box-premium-title {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin: 34px 0 15px;
    text-align: center;
}

.box-premium-money {
    display: block;
    font-size: 46px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #55DFB4;
    text-align: center;
    margin-bottom: 10px;
}

.box-premium-offer {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.box-premium-btn {
    position: absolute;
    left: 108px;
    bottom: -24px;
    font-size: 13px;
    font-family: 'Opn Sans', sans-serif;
    font-weight: 700;
    border: none;
    background-color: #55DFB4;
    color: #fff;
    padding: 16px 60px;
    border-radius: 23px;
    cursor: pointer;
}

.box-premium:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
    transition: 0.3s;
    box-shadow: 2px 4px 10px #55DFB4;
}

/* questions --------------------------------------------------------------------------------------- */

.questions {
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 380px;
    margin: 170px auto 0;
}

.questions-contact {
    width: 350px;
}

.questions-contact-title {
    width: 345px;
    font-family: 'Raleway', sans-serif;
    font-size: 49px;
    font-weight: 400;
    margin-bottom: 22px;
}

.questions-contact-text {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 44px;
}

.questions-form {
    position: relative;
    width: 440px;
    height: 372px;
}

.questions-contact-email, .questions-contact-phone {
    display: flex;
}

.questions-contact-email-phone {
    display: flex;
}

.questions-contact-email-icon {
    background-image: url(../../assets/Mail-Icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 27px;
    height: 27px;
}

.questions-contact-email-contact {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
    margin-right: 20px;
    color: #A5A5A5;
}

.questions-contact-phone-icon {
    background-image: url(../../assets/Phone-Icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 27px;
    height: 27px;
}

.questions-contact-phone-contact {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 4px;
    color: #A5A5A5;
}

.questions-form-format {
    font-size: 11px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #08A6E4;
    text-transform: uppercase;
    letter-spacing: 3.28px;
}

.input {
    outline: none;
}

input[type="text"] {
    border: none;
    border-bottom: 1px solid #95989A;
    width: 440px;
    margin: 30px 0 30px;
}

.questions-form-rodo-square {
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid #95989A;
    border-radius: 4px;
}

.questions-form-rodo-yes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../../assets/Checkmark.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 12px;
    height: 11px;
}

.questions-form-rodo {
    display: flex;
}

.questions-form-rodo-text {
    font-family: 'Open Sans';
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
    color: #707070;
}

.questions-form-send-btn {
    position: absolute;
    right: 0;
    bottom: -20px;
    border: .1px solid #fff;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 97px;
    color: #fff;
    background-color: #08A6E4;
    border-radius: 35px;
    box-shadow: 5px 10px 14px #07ACE629;
    transition: .4s;
}

.questions-form-send-btn:hover {
    color: #08A6E4;
    background-color: #fff;
    cursor: pointer;
    border: .1px solid #08A6E4;
    outline: none;
}

/* footer --------------------------------------------------------------------------------------- */

.footer {
    box-shadow: 0px -5px 40px #00000029;
}

.footer-size {
    height: 90px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 0 10px;
}

.footer-logo-container {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 300;
    margin: 10px 0 20px;
    color: #08A6E4;
}

.footer-logo-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #A5A5A5;
}

.footer-media-facebook {
    background-image: url(../../assets/Facebook.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 24px;
    height: 22px;
    margin-right: 20px;
}

.footer-media-twitter {
    background-image: url(../../assets/Twitter.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 24px;
    height: 24px;
}

.footer-media {
    display: flex;
    align-items: center;
}

/* media querys --------------------------------------------------------------------------------------------------------- */

@media (max-width: 1352px) and (min-width: 1000px) {
    .container {
        width: 100%;
    }

    .main-laptop {
        width: 80%;
        margin: 0 auto 30px;
    }

    .main-laptop-title {
        padding-top: 60px;
    }

    .main-laptop-container {
        width: 40%;
    }

    .main-laptop-underline {
        width: 80%;
    }

    .main-laptop-img {
        width: 160px;
        height: 160px;
        right: 52px;
        bottom: 125px;
    }

    .main-laptop-img-background {
        width: 340px;
        height: 210px;
        top: 80px;
        left: -110px;
    }

    .main-iphone {
        width: 80%;
        margin: 0 auto 30px;
    }

    .main-iphone-container-container {
        width: 40%;
        margin-right: 15px;
        margin-left: 190px;
    }

    .main-iphone-title {
        padding-top: 50px;
    }

    .main-iphone-underline {
        width: 80%;
    }

    .main-iphone-graphics {
        margin-left: 50px;
        margin-top: 45px;
        width: 270px;
        height: 270px;
    }

    .main-iphone-img {
        left: 1%;
        width: 370px;
        height: 280px;
    }

    .main-text {
        width: 80%;
        margin: 0 auto;
    }

    .main-text-container-container {
        width: 58%;
    }

    .main-text-picture {
        width: 40%;
    }

    .main-text-picture-img {
        top: 58%;
    }

    .pricing-boxes {
        width: 90%;
    }

    .box-basic {
        width: 30%;
    }

    .box-basic-btn {
        left: 56px;
    }

    .box-basic:hover {
        transform: scale(1.08, 1.08);
    }

    .box-premium {
        width: 30%;
    }

    .box-premium-btn {
        left: 56px;
    }

    .box-premium:hover {
        transform: scale(1.08, 1.08);
    }

    .box-professional {
        width: 30%;
    }

    .box-professional-btn {
        left: 56px;
    }

    .box-professional:hover {
        transform: scale(1.08, 1.08);
    }

    .questions {
        width: 85%;
    }
}

@media (max-width: 999px) and (min-width: 700px) {
    .container {
        width: 100%;
    }

    .header-nav-ul a {
        margin-left: 40px;
    }

    .platform-title {
        width: 70%;
        margin: 0 auto;
    }

    .main-laptop {
        width: 80%;
        margin: 0 auto 30px;
    }

    .main-laptop-underline {
        width: 80%;
    }

    .main-laptop-container {
        width: 40%;
    }

    .main-laptop-title {
        font-size: 26px;
    }

    .main-laptop-text {
        font-size: 14px;
    }

    .main-laptop-img {
        width: 140px;
        height: 140px;
        right: 42px;
        bottom: 128px;
    }

    .main-laptop-img-background {
        width: 280px;
        height: 160px;
        top: 74px;
        left: -90px;
    }

    .main-iphone {
        width: 80%;
        margin: 0 auto 30px;
    }

    .main-iphone-container-container {
        width: 40%;
        margin: 30px 15px 0 125px
    }

    .main-iphone-title {
        padding-top: 50px;
        font-size: 26px;
    }

    .main-iphone-text {
        font-size: 14px;
    }

    .main-iphone-underline {
        width: 80%;
    }

    .main-iphone-graphics {
        margin-left: 20px;
        margin-top: 80px;
        width: 210px;
        height: 210px;
    }

    .main-iphone-img {
        left: 2%;
        width: 280px;
        height: 220px;
    }

    .main-text-container {
        width: 80%;
        margin: 0 auto;
    }

    .main-text {
        width: 100%;
    }

    .main-text-container-container {
        width: 58%;
    }

    .main-text-title {
        font-size: 26px;
    }

    .main-text-text {
        font-size: 14px;
        width: 80%;
    }

    .main-text-underline {
        width: 70%;
    }

    .main-text-picture {
        width: 40%;
    }

    .main-text-picture-img {
        top: 58%;
        left: 44%;
        width: 250px;
        height: 200px;
    }

    .pricing-boxes {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .box-basic {
        width: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 300px;
        margin-bottom: 80px;
    }

    .box-basic-btn {
        left: 32%;
    }

    .box-basic-checkbox {
        align-items: flex-start;
    }

    .box-basic:hover {
        transform: scale(1.15, 1.15);
    }

    .box-premium {
        width: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 300px;
        margin-bottom: 80px;
    }

    .box-premium-btn {
        left: 32%;
    }

    .box-premium-checkbox {
        align-items: flex-start;
    }

    .box-premium:hover {
        transform: scale(1.15, 1.15);
    }

    .box-professional {
        width: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 300px;
        margin-bottom: 80px;
    }

    .box-professional-btn {
        left: 32%;
    }

    .box-professional-checkbox {
        align-items: flex-start;
    }

    .box-professional:hover {
        transform: scale(1.15, 1.15);
    }

    .questions {
        margin: 50px;
        width: 85%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .questions-contact {
        margin: 70px 0 50px;
    }

    .questions-contact-email-phone {
        flex-direction: column;
    }

    .questions-contact-email {
        display: flex;
        margin-bottom: 20px;
    }

    .questions-contact-phone {
        display: flex;
    }

    .questions-form {
        width: 350px;
    }

    .questions-form-rodo {
        width: 440px;
    }

    .footer {
        margin-top: 250px;
    }

    .questions-form-send-btn {
        right: -90px;
        bottom: -75px;
    }
}

@media (max-width: 699px) and (min-width: 400px) {
    .container {
        width: 100%;
    }

    .header-nav-ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        width: 100%;
        top: -135px;
        left: 0;
        transition: .5s;
        box-shadow: 0px 3px 6px #00000029;
        background-color: #fff;
    }

    .header-nav-ul.show {
        top: 80px;
        height: 160px;
    }

    .header-nav-ul a {
        margin-left: 15px;
        line-height: 30px;
    }

    .header-nav-ul a:hover {
        border-bottom: none;
    }

    .header-hamburger {
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        border: none;
        font-size: 30px;
        color: #08A6E4;
        background-color: transparent;
    }

    .header-hamburger:hover {
        cursor: pointer;
    }

    .header-hamburger:focus {
        outline: none;
    }

    .header-hamburger.off {
        display: none;
    }

    .header-hamburger-close {
        display: none;
        border: none;
        background-color: transparent;
        color: #08A6E4;
        font-size: 60px;
        transform: rotate(45deg);
        position: absolute;
        top: 1px;
        right: 26px;
    }

    .header-hamburger-close:focus {
        outline: none;
    }

    .header-hamburger-close.on {
        display: block;
    }

    .header-hamburger-close.on:hover {
        cursor: pointer;
    }

    .banner-title {
        font-size: 36px;
    }

    .banner-text {
        font-size: 14px;
    }

    .banner-calculator {
        padding: 20px 80px;
        font-weight: bold;
        font-size: 12px;
    }

    .banner-background {
        background-size: cover;
        margin-top: 20px;
    }

    .platform-title {
        font-size: 26px;
        margin: 35px auto 0;
        width: 70%;
    }

    .platform {
        margin-bottom: 15px;
    }

    .platform-container {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .platform-entries {
        margin-bottom: 30px;
    }

    .main {
        height: 1700px;
    }

    .main-container {
        width: 80%;
    }

    .main-laptop-container {
        margin-top: 130px;
        padding: 0 55px;
    }

    .main-laptop-underline {
        display: none;
    }

    .main-laptop-title {
        font-size: 26px;
    }

    .main-laptop-text {
        font-size: 14px;
    }

    .main-laptop {
        width: 100%;
        margin: 0 auto 30px;
        padding-left: 0;
        height: 450px;
    }

    .main-laptop-img-background {
        width: 230px;
        height: 170px;
        top: 55px;
        left: -50px;
    }

    .main-laptop-img {
        top: 30px;
        left: 50%;
        width: 130px;
        height: 130px;
    }

    .main-iphone {
        height: 500px;
        width: 100%;
        position: relative;
    }

    .main-iphone-graphics {
        height: 170px;
        width: 170px;
        top: 0;
        left: 28%;
        margin-left: 0;
    }

    .main-iphone-img {
        width: 230px;
        height: 230px;
    }

    .main-iphone-title {
        font-size: 26px;
    }

    .main-iphone-underline {
        display: none;
    }

    .main-iphone-text {
        font-size: 14px;
    }

    .main-iphone-container-container {
        position: absolute;
        width: 100%;
        top: 180px;
        left: 0;
        margin-left: 0;
        padding: 0 55px;
    }

    .main-text {
        height: 450px;
        width: 100%;
    }

    .main-text-container-container {
        width: 100%;
        padding: 0 55px;
        height: 335px;
    }

    .main-text-underline {
        display: none;
    }

    .main-text-title {
        font-size: 26px;
    }

    .main-text-text {
        font-size: 14px;
        width: 100%;
    }

    .main-text-container {
        display: block;
    }

    .main-text-picture {
        width: 100%;
        height: 180px;
    }

    .main-text-picture-img {
        top: 68%;
    }

    .pricing-boxes {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .box-basic {
        width: 85%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 300px;
        margin-bottom: 80px;
    }

    .box-basic-checkbox {
        align-items: flex-start;
    }

    .box-basic-btn {
        left: 32%;
        top: 92%;
        transform: translate(-22%, -5%);
    }

    .box-basic:hover {
        transform: scale(1.15, 1.15);
    }

    .box-premium {
        width: 85%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 300px;
        margin-bottom: 80px;
    }

    .box-premium-btn {
        left: 32%;
        top: 92%;
        transform: translate(-22%, -5%);
    }

    .box-premium-checkbox {
        align-items: flex-start;
    }

    .box-premium:hover {
        transform: scale(1.15, 1.15);
    }

    .box-professional {
        width: 85%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 300px;
        margin-bottom: 80px;
    }

    .box-professional-btn {
        left: 32%;
        top: 92%;
        transform: translate(-22%, -5%);
    }

    .box-professional-checkbox {
        align-items: flex-start;
    }

    .box-professional:hover {
        transform: scale(1.15, 1.15);
    }

    .questions {
        margin: 50px;
        width: 85%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .questions-contact {
        margin: 70px 0 50px;
    }

    .questions-contact-title {
        font-size: 36px;
    }

    .questions-contact-email-phone {
        flex-direction: column;
    }

    .questions-contact-email {
        display: flex;
        margin-bottom: 20px;
    }

    .questions-contact-phone {
        display: flex;
    }

    .questions-form {
        width: 350px;
    }

    input[type="text"] {
        width: 100%;
    }

    .questions-form-rodo {
        width: 100%;
    }

    .footer {
        margin-top: 250px;
    }

    .questions-form-send-btn {
        right: 15px;
        bottom: -75px;
    }
}

@media (max-width: 399px) {
    .container {
        width: 100%;
    }

    .header-logo {
        font-size: 26px;
    }

    .header-nav-ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        width: 100%;
        top: -135px;
        left: 0;
        transition: .5s;
        box-shadow: 0px 3px 6px #00000029;
        background-color: #fff;
    }

    .header-nav-ul.show {
        top: 80px;
        height: 160px;
    }

    .header-nav-ul a {
        margin-left: 15px;
        line-height: 30px;
    }

    .header-nav-ul a:hover {
        border-bottom: none;
    }

    .header-hamburger {
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        border: none;
        font-size: 24px;
        color: #08A6E4;
        background-color: transparent;
    }

    .header-hamburger:hover {
        cursor: pointer;
    }

    .header-hamburger:focus {
        outline: none;
    }

    .header-hamburger.off {
        display: none;
    }

    .header-hamburger-close {
        display: none;
        border: none;
        background-color: transparent;
        color: #08A6E4;
        font-size: 60px;
        transform: rotate(45deg);
        position: absolute;
        top: 1px;
        right: 26px;
    }

    .header-hamburger-close:focus {
        outline: none;
    }

    .header-hamburger-close.on {
        display: block;
    }

    .header-hamburger-close.on:hover {
        cursor: pointer;
    }

    .banner-title {
        font-size: 34px;
    }

    .banner-text {
        font-size: 14px;
        padding: 0 35px;
    }

    .banner-calculator {
        padding: 15px 60px;
        font-weight: bold;
        font-size: 12px;
    }

    .banner-background {
        background-size: contain;
        height: 40vh;
    }

    .platform-title {
        font-size: 26px;
        margin: -30px auto 0;
        width: 70%;
    }

    .platform {
        margin-bottom: 15px;
    }

    .platform-container {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .platform-entries {
        margin-bottom: 30px;
    }

    .main {
        height: 1700px;
    }

    .main-container {
        width: 80%;
    }

    .main-laptop-container {
        margin-top: 130px;
        padding: 0 20px;
    }

    .main-laptop-underline {
        display: none;
    }

    .main-laptop-title {
        font-size: 26px;
    }

    .main-laptop-text {
        font-size: 14px;
    }

    .main-laptop {
        width: 100%;
        margin: 0 auto 30px;
        padding-left: 0;
        height: 450px;
    }

    .main-laptop-img-background {
        width: 190px;
        height: 170px;
        top: 55px;
        left: -28px;
    }

    .main-laptop-img {
        top: 30px;
        left: 38%;
        width: 120px;
        height: 120px;
    }

    .main-iphone {
        height: 475px;
        width: 100%;
        position: relative;
    }

    .main-iphone-graphics {
        height: 160px;
        width: 160px;
        top: 0;
        left: 15%;
        margin-left: 0;
    }

    .main-iphone-img {
        width: 215px;
        height: 230px;
        left: -2%;
    }

    .main-iphone-title {
        font-size: 26px;
    }

    .main-iphone-underline {
        display: none;
    }

    .main-iphone-text {
        font-size: 14px;
    }

    .main-iphone-container-container {
        position: absolute;
        width: 100%;
        top: 180px;
        left: 0;
        margin-left: 0;
        padding: 0 20px;
    }

    .main-text {
        height: 450px;
        width: 100%;
    }

    .main-text-container-container {
        width: 100%;
        padding: 0 20px;
        height: 335px;
    }

    .main-text-underline {
        display: none;
    }

    .main-text-title {
        font-size: 26px;
    }

    .main-text-text {
        font-size: 14px;
        width: 100%;
    }

    .main-text-container {
        display: block;
    }

    .main-text-picture {
        width: 100%;
        height: 180px;
    }

    .main-text-picture-img {
        top: 74%;
        left: 43%;
        width: 210px;
        height: 180px;
    }

    .pricing-boxes {
        width: 80%;
        flex-direction: column;
        align-items: center;
    }

    .box-basic-title {
        font-size: 16px;
    }

    .box-basic-money {
        font-size: 30px;
    }

    label {
        font-size: 11px;
    }

    .box-basic {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 300px;
        margin-bottom: 80px;
    }

    .box-basic-btn {
        left: 32%;
        top: 92%;
        transform: translate(-22%, -5%);
    }

    .box-basic-checkbox {
        align-items: flex-start;
    }

    .box-basic:hover {
        transform: scale(1.15, 1.15);
    }

    .box-premium {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 300px;
        margin-bottom: 80px;
    }

    .box-premium-title {
        font-size: 16px;
    }

    .box-premium-money {
        font-size: 30px;
    }

    .box-premium-btn {
        left: 32%;
        top: 92%;
        transform: translate(-22%, -5%);
    }

    .box-premium-checkbox {
        align-items: flex-start;
    }

    .box-premium:hover {
        transform: scale(1.15, 1.15);
    }

    .box-professional {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 300px;
        margin-bottom: 80px;
    }

    .box-professional-title {
        font-size: 16px;
    }

    .box-professional-money {
        font-size: 30px;
    }

    .box-professional-btn {
        left: 32%;
        top: 92%;
        transform: translate(-22%, -5%);
    }

    .box-professional-checkbox {
        align-items: flex-start;
    }

    .box-professional:hover {
        transform: scale(1.15, 1.15);
    }

    .questions {
        margin: 65px;
        width: 85%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .questions-contact {
        margin: 70px 0 50px;
    }

    .questions-contact-title {
        font-size: 36px;
    }

    .questions-contact-email-phone {
        flex-direction: column;
    }

    .questions-contact-email {
        display: flex;
        margin-bottom: 20px;
    }

    .questions-contact-phone {
        display: flex;
    }

    .questions-form {
        width: 350px;
    }

    input[type="text"] {
        width: 70%;
    }

    .questions-form-rodo {
        width: 80%;
    }

    .questions-form-rodo-text {
        margin-right: 5px;
    }

    .footer {
        margin-top: 250px;
    }

    .questions-form-send-btn {
        right: 75px;
        bottom: -75px;
        padding: 15px 70px;
        border: .1px solid #08A6E4;
    }

    .footer-media-facebook {
        margin-right: 10px;
    }

    .footer-logo-text {
        font-size: 10px;
    }
}
